/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'MS PGothic', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/*ここまでテンプレここからｃｓｓ指定せよ*/
header {
  height: 65px;
  width: 100%;
  background-color: snow;
  position :fixed;
  top: 0;
  z-index: 10;
  opacity: 0.9;

}

.headContainer{
  width:auto;
}

.header-left{
  float: left;
  margin-right: 25px;
}

.logo{
  width: 85px;
  margin-left: 25px;
}

.menu-icon {
  color: darkorange;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.header-right{
  float: right;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: darkorange;
  display: block;
  float: left;

}

.header-right a:hover{
  opacity:1;
  border-bottom: 6px gray;

}



.topWrapper {
  width: 100%;
  background-image: url(./9e4PtGxENsB0RnBbi050VZ6iV3DjMN35CZj4CBjs__1508_1006.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  opacity: 0.8;
}

.container {
  width: auto;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 100px;
  color: white;
}

.container h1{
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow:2px 2px 10px #777;
}

.container p {
  padding-bottom: 20px;
  text-shadow: -2px -2px 10px black;
}

.container a{
  color: white;
  margin-bottom: 30px;

  border-bottom: 2px;
}

.blog{
  background-color: darkred;
  opacity: 0.8;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  display: inline-block;
}

.twitter{
  background-color: #55acee;
  opacity: 0.8;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  margin-right: 15px;
  display: inline-block;
}

.instagram{
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/

  opacity:0.8;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  display: inline-block;
}

.container a:hover{
  opacity: 1;
  transition: .5s;
}

.fa {
  margin-right: 5px;
}

footer{
  width: 100%;
  background-color: snow;
}

.footContainer{
  display: inline-block;
}

.footContainer img{
  margin-left: 20px;
  width: 80px;

}

.footContainer p{
  margin-left: 20px;
  color: orange;
}
